{
  "env": {
    "browser": true,
    "es2022": true,
    "node": true
  },

  "parserOptions": {
    "ecmaVersion": 13,
    "sourceType": "module"
  },

  "extends": "airbnb-base",

  "rules": {
    "import/no-dynamic-require": "off",
    "global-require": "off",
    "arrow-body-style": [
      "error",
      "as-needed",
      { "requireReturnForObjectLiteral": true }
    ],
    "implicit-arrow-linebreak": ["error", "below"]
  }
}
